@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: theme('colors.base-100');
}

::-webkit-scrollbar-thumb {
  background: theme('colors.primary');
  -webkit-border-radius: 1ex;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
  background: theme('colors.base-100');
}

html{
  background-color: #fff !important;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Aetrina';   /*Can be any text*/
  src: url("../static/Aetrina\ Free\ Script.ttf") format("truetype");
}

.aetrina {
  font-family: 'Aetrina';
}